<div class="h-full w-full grid grid-cols-4 grid-rows-5 gap-4 p-2 text-white">
    <div class="flex items-end justify-center">
        <a class="flex flex-col items-center transition transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-yellow-500"
         href="/app">
        <img src="/src/assets/indexImages/contact.png" alt="" />
        <span class="text-xs">Contactos</span></a>
     </div>
     <div class="flex items-end justify-center">
        <a class="flex flex-col items-center transition transform hover:scale-105 focus:outline-none 
        focus:ring-2 focus:ring-yellow-500" href="https://web.whatsapp.com/">
        <img src="/src/assets/indexImages/Whatsapp.png" alt="" />
        <span class="text-xs">Whatsapp</span></a>
     </div>
     <div class="flex items-end justify-center">
        <a class="flex flex-col items-center transition transform hover:scale-105 focus:outline-none 
        focus:ring-2 focus:ring-yellow-500" href="https://www.instagram.com/">
        <img src="/src/assets/indexImages/instagram.png" alt="" />
        <span class="text-xs">Instagram</span></a>
   </div>
    <div class="flex items-end justify-center">
        <a class="flex flex-col items-center transition transform hover:scale-105 focus:outline-none 
        focus:ring-2 focus:ring-yellow-500" href="https://www.facebook.com/">
        <img src="/src/assets/indexImages/facebook.png" alt="" />
        <span class="text-xs">Facebook</span></a>
    </div>
    <div class="flex items-end justify-center">
        <a class="flex flex-col items-center transition transform hover:scale-105 focus:outline-none
         focus:ring-2 focus:ring-yellow-500" href="https://www.google.com/?safe=active">
        <img src="/src/assets/indexImages/google.png" alt="" />
        <span class="text-xs">Google</span></a>
    </div>
    <div class="flex items-end justify-center">
        <a class="flex flex-col items-center transition transform hover:scale-105 focus:outline-none
         focus:ring-2 focus:ring-yellow-500" href="https://discord.com/">
        <img src="/src/assets/indexImages/discord.png" alt="" />
        <span class="text-xs">Discord</span></a>
    </div>
    <div class="flex items-end justify-center">
        <a class="flex flex-col items-center transition transform hover:scale-105 focus:outline-none
         focus:ring-2 focus:ring-yellow-500" href="https://drive.google.com/drive/">
        <img src="/src/assets/indexImages/drive.png" alt="" />
        <span class="text-xs">Drive</span></a>
    </div>
    <div class="flex items-end justify-center">
        <a class="flex flex-col items-center transition transform hover:scale-105 focus:outline-none 
        focus:ring-2 focus:ring-yellow-500" href="https://mail.google.com/mail/">
        <img src="/src/assets/indexImages/gmail.png" alt="" />
        <span class="text-xs">Gmail</span></a>
    </div>
    <div class="flex items-end justify-center">
        <a class="flex flex-col items-center transition transform hover:scale-105 focus:outline-none
         focus:ring-2 focus:ring-yellow-500" href="https://www.google.com.pe/maps?hl=es-419">
        <img src="/src/assets/indexImages/maps.png" alt="" />
        <span class="text-xs">Maps</span></a>
    </div>
    <div class="flex items-end justify-center">
        <a class="flex flex-col items-center transition transform hover:scale-105 focus:outline-none
         focus:ring-2 focus:ring-yellow-500" href="https://www.microsoft.com/es-es/microsoft-teams/log-in">
        <img src="/src/assets/indexImages/teams.png" alt="" />
        <span class="text-xs">MS Teams</span></a>
    </div>
    <div class="flex items-end justify-center">
        <a class="flex flex-col items-center transition transform hover:scale-105 focus:outline-none
         focus:ring-2 focus:ring-yellow-500" href="https://zoom.us/es/signin#/login">
        <img src="/src/assets/indexImages/zoom.png" alt="" />
        <span class="text-xs">Zoom</span></a>
    </div>
    <div class="flex  items-end justify-center">
        <a class="flex flex-col items-center transition transform hover:scale-105 focus:outline-none 
        focus:ring-2 focus:ring-yellow-500" href="https://meet.google.com/npf-nrvi-okp">
        <img src="/src/assets/indexImages/meet.png" alt="" />
        <span class="text-xs">Meet</span></a>
    </div>
    <div class="flex items-end justify-center">
        <a class="flex flex-col items-center transition transform hover:scale-105 focus:outline-none
         focus:ring-2 focus:ring-yellow-500" href="#">
        <img src="/src/assets/indexImages/mensajes.png" alt="" />
        <span class="text-xs">Mensajes</span></a>
    </div>
    <div class="flex items-end justify-center">
        <a class="flex flex-col items-center transition transform hover:scale-105 focus:outline-none
         focus:ring-2 focus:ring-yellow-500" href="https://www.mercadolibre.com.pe/">
        <img src="/src/assets/indexImages/mercadolibre.png" alt="" />
        <span class="text-xs">Mercado Libre</span></a>
    </div>
    <div class="flex items-end justify-center">
        <a class="flex flex-col items-center transition transform hover:scale-105 focus:outline-none
         focus:ring-2 focus:ring-yellow-500" href="https://www.mercadolibre.com.pe/">
        <img src="/src/assets/indexImages/messenger.png" alt="" />
        <span class="text-xs">Messenger</span></a>
    </div>
    <div class="flex items-end justify-center">
        <a class="flex flex-col items-center transition transform hover:scale-105 focus:outline-none 
        focus:ring-2 focus:ring-yellow-500" href="https://www.microsoft.com/es-es/microsoft-365/outlook/email-and-calendar-software-microsoft-outlook?deeplink=%2fmail%2f0%2f%3fnlp%3d0&sdf=0/">
        <img src="/src/assets/indexImages/outlook.png" alt="" />
        <span class="text-xs">Outlook</span></a>
    </div>
    <div class="flex items-end justify-center">
        <a class="flex flex-col items-center transition transform hover:scale-105 focus:outline-none 
        focus:ring-2 focus:ring-yellow-500" href="https://www.youtube.com/">
        <img src="/src/assets/indexImages/youtube.png" alt="" />
        <span class="text-xs">Youtube</span></a>
    </div>
    <div class="flex items-end justify-center">
        <a class="flex flex-col items-center transition transform hover:scale-105 focus:outline-none 
        focus:ring-2 focus:ring-yellow-500" href="https://open.spotify.com/intl-es">
        <img src="/src/assets/indexImages/spotify.png" alt="" />
        <span class="text-xs">Spotify</span></a>
    </div>
    <div class="flex items-end justify-center">
        <a class="flex flex-col items-center transition transform hover:scale-105 focus:outline-none 
        focus:ring-2 focus:ring-yellow-500" href="https://web.telegram.org/k/">
        <img src="/src/assets/indexImages/telegram.png" alt="" />
        <span class="text-xs">Telegram</span></a>
    </div>
    <div class="flex items-end justify-center">
        <a class="flex flex-col items-center transition transform hover:scale-105 focus:outline-none 
        focus:ring-2 focus:ring-yellow-500" href="https://photomath.es/">
        <img src="/src/assets/indexImages/photomath.png" alt="" />
        <span class="text-xs">Photomath</span></a>
    </div>

</div>
